* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(90, 100, 133), rgb(26, 58, 160));
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.App {
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  width: 100%;
  padding: 15px;
}




